.mt-50 {
  margin-top: 50px;
}

.btn-inverse-danger {
  color: #d9534f;
  background-color: #fff;
  border-color: #d43f3a;
}

.total-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 5px;
  font-size: 1.2em;
}

#tabella_volumi tbody tr {
  cursor: pointer;
}

.immagine-small {
  width: 100px;
}

#tabella_volumi td {
  vertical-align: middle;
}

#tabella_casa_editrici tbody tr {
  cursor: pointer;
}

#tabella_autori tbody tr {
  cursor: pointer;
}

#sidebar-menu {
  margin-top: 20px;
}

.profile {
  margin-top: 15px;
}

.logo-preview {
  width: 300px;
  padding-left: 20px;
  padding-top: 10px;
}

.col-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  padding: 0 24px;
}

.volume-titolo {
  font-weight: bold;
  padding-bottom: 6px;
}

.volume-descrizione {
  text-align: left;
  line-height: 2em;
  padding: 0;
  margin-top: 20px;
}

.volume-dettagli {
  margin-top: 20px;
}
