# System Files
.DS_Store
Thumbs.bd

# Dependencies
node_modules/*
vendor/*

/docs/sql/*

# IDE - VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Images
/upload/copertine/*

# Configuration files
inc/inc.conf.php